<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="powershell" value="https://pkgs.dev.azure.com/powershell/PowerShell/_packaging/PowerShell/nuget/v3/index.json" />
    <add key="darbotlabs-ado" value="https://pkgs.dev.azure.com/powershell/2972bb5c-f20c-4a60-8bd9-00ffe9987edc/_packaging/e59e749b-417c-4664-9322-c190bb60de7f/nuget/v3/index.json" />
    <add key="darbot-ado" value="https://pkgs.dev.azure.com/vdfguard/_packaging/Darbot%20PowerShell/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceCredentials>
    <darbotlabs-ado>
        <add key="Username" value="azdo" />
        <add key="ClearTextPassword" value="47Bvth4ghQARzuBomBFWjGfXmWy0z8jqlfqpAlvvFwIadenK2JU0JQQJ99BEACAAAAAeNEnbAAASAZDOOWXR" />
      </darbotlabs-ado>
  </packageSourceCredentials>
</configuration>
